{% extends 'filesapp/base.html' %}

{% block body_block %}
<!DOCTYPE html>
{%load staticfiles%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Trade+Winds&display=swap" rel="stylesheet">
<style media="screen">
.mySlides {
  display:none;
  margin-left: 430px;
  margin-right: 450px;
  border:10px black inset;

}
  body{
    text-align: center;
    font-family: 'Trade Winds';
    background: url(https://images.unsplash.com/photo-1474366521946-c3d4b507abf2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
    background-repeat: no-repeat;
    background-size: cover;
  }
  h1{
    padding-top: 50px;
    margin-bottom: 25px;
  }
</style>
  </head>
  <body>
    <h1>Welcome to BooksApp</h1>

    <div class="w3-content w3-section" style="max-width:700px">
      <img class="mySlides" height="300px" width="700px" src="{% static 'images/book1.jfif'%}" style="width:100%">
      <img class="mySlides" height="300px" width="700px" src="{% static 'images/book2.jfif'%}" style="width:100%">
      <img class="mySlides" height="300px" width="700px" src="{% static 'images/book3.jfif'%}" style="width:100%">
    </div>


    <a href="/uploadbook" style="background:black;" class='btn btn-primary btn-lg'>ADD BOOKS</a> &nbsp &nbsp
    <a href="/booklist" style="background:black;" class='btn btn-primary btn-lg'>VIEW BOOKS</a>

    <script>
    var myIndex = 0;
    carousel();

    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}
      x[myIndex-1].style.display = "block";
      setTimeout(carousel, 2000); // Change image every 2 seconds
    }
    </script>

  </body>
</html>

{% endblock %}
